{% block head %}
{% include "landingpage/partials/_head.html" %}
{% endblock %}

{% block header %}
{% include "landingpage/partials/_header.html" %}
{% endblock %}

<div class="container mt-4 d-flex justify-content-center">

    <div class="card p-3">

        <div class="d-flex align-items-center">

            <div class="ml-3 w-100">

                
                <h5 class="mb-0 mt-0">Regole</h5>
                <p>
                    <span></span>
                </p>

                <ul class="list-group list-group-numbered">

                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            Del FantaLongato si parla solo al FantaLongato.
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            È possibile scegliere un massimo di 5 sfide.
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            È possibile scegliere le sfide entro giovedì 15 giugno 2023 alle ore 23.59.
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            NON condividere il link. Siamo timidi.
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            Divertirsi.
                        </div>
                    </li>

                </ul>

            </div>

        </div>
            
    </div>   
     
</div>