{% block head %}
{% include "landingpage/partials/_head.html" %}
{% endblock %}

{% block header %}
{% include "landingpage/partials/_header.html" %}
{% endblock %}

<body>

    <div class="container">

        <div class="row justify-content-center align items-center inner-row">

            <div class="login">

                <h1 class="text-center">Logout</h1>
                <p>Non andare via😢</p>
                <p>Puoi riaccedere al tuo account oppure registrarti con i tasti qui sopra!</p>

            </div>

        </div>

    </div>

</body>
