{% block head %}
{% include "landingpage/partials/_head.html" %}
{% endblock %}

{% block header %}
{% include "landingpage/partials/_header.html" %}
{% endblock %}


<body>

    <div class="container">

        <div class="row justify-content-center align items-center inner-row">

            <div class="login">

                <h1 class="text-center">Accedi</h1>
                
                <form method="post" class="needs-validation">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="form-label" for="username">{{ form_login.username.label_tag }}</label>
                        {{ form_login.username }}
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="password">{{ form_login.password.label_tag }}</label>
                        {{ form_login.password }}
                    </div>

                    <input class="btn btn-success w-100" type="submit" value="LOGIN">
                    <input type="hidden" name="next" value="{{ next }}">

                </form>

            </div>

        </div>

    </div>
    
</body>

